flows_davids-MBP.json
[{"id":"7ebce298.876fac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"83bdcfb5.fc3d7","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2913d71.50bd128","type":"inject","z":"7ebce298.876fac","name":"","topic":"","payload":"Test String","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":158.52080535888672,"y":89.9583683013916,"wires":[["fca94a71.d18fa8"]]},{"id":"fca94a71.d18fa8","type":"testNode","z":"7ebce298.876fac","name":"","x":404.52085876464844,"y":89.64934158325195,"wires":[["ee55a826.95e7f8"]]},{"id":"11b1d66c.3c4caa","type":"link out","z":"7ebce298.876fac","name":"flow 1 link in","links":["830b0add.274998"],"x":525.5243740081787,"y":381.09375190734863,"wires":[],"inputLabels":["test"]},{"id":"b768876b.864928","type":"link out","z":"83bdcfb5.fc3d7","name":"","links":["830b0add.274998"],"x":160.5174217224121,"y":304.08684396743774,"wires":[]},{"id":"830b0add.274998","type":"link in","z":"83bdcfb5.fc3d7","name":"","links":["11b1d66c.3c4caa","b768876b.864928"],"x":270.5277590751648,"y":86.86114311218262,"wires":[["6fda08c2.c0d378"]]},{"id":"6fda08c2.c0d378","type":"debug","z":"83bdcfb5.fc3d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":508.52090072631836,"y":91.5625057220459,"wires":[]},{"id":"3dc21fdf.e883f","type":"change","z":"83bdcfb5.fc3d7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":381.5243377685547,"y":441.7674331665039,"wires":[[]]},{"id":"ee55a826.95e7f8","type":"change","z":"7ebce298.876fac","name":"","rules":[{"t":"set","p":"property","pt":"flow","to":"testValue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":391.52079010009766,"y":276.8784866333008,"wires":[["11b1d66c.3c4caa"]]},{"id":"e07b3689.47ab58","type":"watch","z":"7ebce298.876fac","name":"","files":"/Users/davidhay//Downloads","recursive":"","x":178.51734924316406,"y":415.7153072357178,"wires":[["3f0e32f4.e042fe","f2ef5453.5b5728"]]},{"id":"6ce6634.d6f129c","type":"debug","z":"7ebce298.876fac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":798.513916015625,"y":469.5695686340332,"wires":[]},{"id":"3f0e32f4.e042fe","type":"change","z":"7ebce298.876fac","name":"","rules":[{"t":"set","p":"ts","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":502.51395416259766,"y":484.0973148345947,"wires":[["6ce6634.d6f129c"]]},{"id":"35cbbecc.f285b2","type":"file in","z":"7ebce298.876fac","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":517.5207977294922,"y":642.5139455795288,"wires":[["c1e35cdb.2da51"]]},{"id":"c1e35cdb.2da51","type":"debug","z":"7ebce298.876fac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":804.527717590332,"y":598.0174040794373,"wires":[]},{"id":"f2ef5453.5b5728","type":"change","z":"7ebce298.876fac","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290.51393127441406,"y":616.8889627456665,"wires":[["35cbbecc.f285b2"]]},{"id":"8b010942.80e828","type":"exec","z":"7ebce298.876fac","command":"ls -al","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":648.5277290344238,"y":152.14934921264648,"wires":[["73bf7e53.3ec9a"],["73bf7e53.3ec9a"],[]]},{"id":"22a6adb0.f1a882","type":"inject","z":"7ebce298.876fac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":492.5277862548828,"y":190.96527862548828,"wires":[["8b010942.80e828"]]},{"id":"73bf7e53.3ec9a","type":"debug","z":"7ebce298.876fac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":829.5139236450195,"y":130.56597328186035,"wires":[]}]