flows_davids-MBP.json
[{"id":"66ffff34.4fa1d","type":"tab","label":"Subscriptions","disabled":false,"info":""},{"id":"85c396b1.3a1848","type":"tab","label":"UI","disabled":false,"info":""},{"id":"dccf11c2.40de1","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"4c3432e.d8fcbcc","type":"tab","label":"Playing","disabled":false,"info":""},{"id":"5b855cb5.cc7d84","type":"subflow","name":"Save Observation","info":"","category":"","in":[{"x":113.00000190734863,"y":121.00000190734863,"wires":[]}],"out":[]},{"id":"29ff6bd9.d29944","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/clinfhir","name":"","options":"","parallelism":"-1"},{"id":"fa208025.41136","type":"sqlitedb","z":"","db":"/Users/davidhay/tmp/patient.db","mode":"RWC"},{"id":"83b31fd3.fbe95","type":"inject","z":"4c3432e.d8fcbcc","name":"","topic":"","payload":"Hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":137.99999237060547,"y":88.00000381469727,"wires":[["7d9364f.e04309c"]]},{"id":"a31e37c7.ad9ab8","type":"debug","z":"4c3432e.d8fcbcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":622,"y":70,"wires":[]},{"id":"7d9364f.e04309c","type":"http request","z":"4c3432e.d8fcbcc","name":"","method":"GET","ret":"obj","url":"http://snapp.clinfhir.com:8081/baseDstu3/Patient/7268","tls":"","x":394,"y":81,"wires":[["6434dd82.82e7f4"]]},{"id":"6434dd82.82e7f4","type":"debug","z":"4c3432e.d8fcbcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":593,"y":155,"wires":[]},{"id":"912e89e5.f578f8","type":"mongodb2 in","z":"4c3432e.d8fcbcc","service":"_ext_","configNode":"29ff6bd9.d29944","name":"localMongo","collection":"accessAudit","operation":"find.toArray","x":533.5,"y":297,"wires":[["45949f53.b5cef"]]},{"id":"7dc7d112.3e37e","type":"inject","z":"4c3432e.d8fcbcc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":133.5,"y":243,"wires":[["89f95163.ca0ce"]]},{"id":"45949f53.b5cef","type":"debug","z":"4c3432e.d8fcbcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":851.4999847412109,"y":298.99999713897705,"wires":[]},{"id":"89f95163.ca0ce","type":"function","z":"4c3432e.d8fcbcc","name":"","func":"\nreturn {};","outputs":1,"noerr":0,"x":313.5,"y":255,"wires":[["912e89e5.f578f8"]]},{"id":"282399e.dca1366","type":"function","z":"4c3432e.d8fcbcc","name":"","func":"\nvar url = \"http://snapp.clinfhir.com:8081/baseDstu3/Patient?name=hay\";\n\n//https://hackernoon.com/6-reasons-why-javascripts-async-await-blows-promises-away-tutorial-c7ec10518dd9\n\nconst makeRequest = async () => {\n    const data = await $http.get(url);\n    console.log(data.data)\n    \n\n    var url1 = \"http://snapp.clinfhir.com:8081/baseDstu3/Condition?subject=\"+data.data.entry[0].resource.id;\n\n    const data1 = await $http.get(url1);\n    console.log(data1.data)\n   return data1;\n};\n\nmakeRequest()\n\n\n\n","outputs":1,"noerr":0,"x":458.5000305175781,"y":459.0000476837158,"wires":[["94d8683f.b1b288"]]},{"id":"94d8683f.b1b288","type":"debug","z":"4c3432e.d8fcbcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":717.4999847412109,"y":422.0000219345093,"wires":[]},{"id":"76b329c2.5bb3a8","type":"inject","z":"4c3432e.d8fcbcc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":153.49999237060547,"y":381.99999809265137,"wires":[["282399e.dca1366"]]},{"id":"caea1651.3762e8","type":"sqlite","z":"4c3432e.d8fcbcc","mydb":"fa208025.41136","sqlquery":"msg.topic","sql":"","name":"patient","x":559.5207328796387,"y":546.4998807907104,"wires":[["b12cc291.dc4d8"]]},{"id":"3300151f.7fe90a","type":"inject","z":"4c3432e.d8fcbcc","name":"","topic":"select * from patient","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170.52776336669922,"y":546.4027013778687,"wires":[["caea1651.3762e8"]]},{"id":"b12cc291.dc4d8","type":"debug","z":"4c3432e.d8fcbcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":837.513916015625,"y":538.0069513320923,"wires":[]},{"id":"8d81ea1f.cd7768","type":"function","z":"4c3432e.d8fcbcc","name":"","func":"\n\nvar sql = \"INSERT INTO patient (lname,fname) values ('hay','wendy')\";\n\nmsg.topic = sql\n\n\nreturn msg;","outputs":1,"noerr":0,"x":351.51739501953125,"y":662.0867710113525,"wires":[["caea1651.3762e8"]]},{"id":"438df4fe.fdf60c","type":"inject","z":"4c3432e.d8fcbcc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":123.52082061767578,"y":648.4062194824219,"wires":[["8d81ea1f.cd7768"]]},{"id":"d5114436.656a38","type":"template","z":"4c3432e.d8fcbcc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":622.5277862548828,"y":689.9062728881836,"wires":[[]]},{"id":"86594022.051de","type":"http response","z":"66ffff34.4fa1d","name":"","statusCode":"","headers":{},"x":785.5242156982422,"y":276.23622131347656,"wires":[]},{"id":"f7e12749.5a3488","type":"http in","z":"66ffff34.4fa1d","name":"","url":"/fhir/*","method":"get","upload":false,"swaggerDoc":"","x":107.52082443237305,"y":275.56946659088135,"wires":[["b55da2.13da126"]]},{"id":"949dda50.277bd8","type":"http request","z":"66ffff34.4fa1d","name":"","method":"GET","ret":"txt","url":"","x":586.5207443237305,"y":275.76394844055176,"wires":[["86594022.051de"]]},{"id":"b55da2.13da126","type":"function","z":"66ffff34.4fa1d","name":"Set remote query","func":"\n//extract the components of the URL (It's a GET)\n//message is in format /fhir/{resourcetype}?{query param}&{query}\n// or /fhir/{resourcetype}/id\n\nvar remoteFhirServer = global.get('remoteFhirServer')\nvar ar = msg.req.originalUrl.split('/');\nar.splice(0,2); //remove the /fhir\nvar query = remoteFhirServer + ar.join('/')\nmsg.url = query;\nreturn msg;\n","outputs":1,"noerr":0,"x":339.5243453979492,"y":275.9410591125488,"wires":[["949dda50.277bd8"]]},{"id":"5e381394.c384bc","type":"inject","z":"66ffff34.4fa1d","name":"Initialize at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":136.51387786865234,"y":60.958335876464844,"wires":[["bcc0e3c4.de446"]]},{"id":"bcc0e3c4.de446","type":"change","z":"66ffff34.4fa1d","name":"","rules":[{"t":"set","p":"remoteFhirServer","pt":"global","to":"http://snapp.clinfhir.com:8081/baseDstu3/","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Defaults set","tot":"str"},{"t":"set","p":"subscriptions","pt":"flow","to":"[{\"resourceType\":\"Encounter\",\"patientId\":\"Patient/7268\",\"channel\":\"email\",\"endpoint\":\"mailto:david.hay25@gmail.com\"},{\"resourceType\":\"Encounter\",\"identifier\":\"wer4568\",\"patient\":\"Patient.identifier=wer4568\",\"channel\":\"email\",\"endpoint\":\"mailto:david.hay25@gmail.com\"},{\"resourceType\":\"Encounter\",\"patientId\":\"Patient/7268\",\"channel\":\"rest-hook\",\"endpoint\":\"localhost:1880/notify\"},{\"resourceType\":\"Encounter\",\"patientId\":\"Patient/7268\",\"channel\":\"rest-hook\",\"endpoint\":\"localhost:1880/notify\"}]","tot":"json"},{"t":"set","p":"fileRoot","pt":"global","to":"/Users/davidhay/.node-red/projects/FHIRSubscriptions/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":396.51397705078125,"y":61.76389217376709,"wires":[["413d0148.49c38"]]},{"id":"413d0148.49c38","type":"debug","z":"66ffff34.4fa1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":745.5243034362793,"y":62.57291603088379,"wires":[]},{"id":"ef087162.8ded8","type":"comment","z":"66ffff34.4fa1d","name":"Proxy GET request","info":"Will proxy a GET request to a FHIR server.\n\nPurpose is to allow a consistent API interface\n\nlikely will add other functionality like:\n\n* Create AuditEvent resource\n* Apply basic privacy","x":120.5173568725586,"y":208.9132080078125,"wires":[]},{"id":"ba2c4694.a4a7c8","type":"comment","z":"66ffff34.4fa1d","name":"Proxy POST request","info":"Must be a json object","x":122.01734924316406,"y":409.0104055404663,"wires":[]},{"id":"71fbec7b.07b574","type":"http in","z":"dccf11c2.40de1","name":"","url":"/notify","method":"post","upload":false,"swaggerDoc":"","x":178.51734161376953,"y":133.7882022857666,"wires":[["5b24ac95.fa6d34","5a369deb.8b3004"]]},{"id":"607580c4.9a7e6","type":"debug","z":"dccf11c2.40de1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":775.5173950195312,"y":133.56599521636963,"wires":[]},{"id":"5b24ac95.fa6d34","type":"http response","z":"dccf11c2.40de1","name":"","statusCode":"","headers":{},"x":800.5139274597168,"y":326.34722232818604,"wires":[]},{"id":"5a369deb.8b3004","type":"change","z":"dccf11c2.40de1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"rest hook notification","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":488.51734924316406,"y":134.54167938232422,"wires":[["607580c4.9a7e6"]]},{"id":"d2fb1bac.6f27e8","type":"comment","z":"66ffff34.4fa1d","name":"rest-hook","info":"","x":1045.517448425293,"y":545.6874666213989,"wires":[]},{"id":"d1558579.572948","type":"comment","z":"dccf11c2.40de1","name":"Recipient for rest-hook","info":"A flow that can be used as the \nrecipient of a rest-hook call","x":135.51388549804688,"y":46.017364501953125,"wires":[]},{"id":"7e1283fb.52533c","type":"http in","z":"85c396b1.3a1848","name":"","url":"/ui/*","method":"get","upload":false,"swaggerDoc":"","x":136.51390075683594,"y":118.79168319702148,"wires":[["84b2b87a.4a1448"]]},{"id":"6a2ccd08.ca94a4","type":"http response","z":"85c396b1.3a1848","name":"","statusCode":"","headers":{},"x":802.5173873901367,"y":117.34373092651367,"wires":[]},{"id":"15a5f7c2.5ddf08","type":"file in","z":"85c396b1.3a1848","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":582.5139045715332,"y":118.41668891906738,"wires":[["6a2ccd08.ca94a4"]]},{"id":"84b2b87a.4a1448","type":"function","z":"85c396b1.3a1848","name":"make filename","func":"\nvar fileRoot = global.get('fileRoot')\n\nmsg.filename = fileRoot + msg.req.params[0]\nreturn msg;","outputs":1,"noerr":0,"x":362.52433013916016,"y":117.70835304260254,"wires":[["15a5f7c2.5ddf08"]]},{"id":"da86cc25.72bc6","type":"catch","z":"85c396b1.3a1848","name":"file not found","scope":["15a5f7c2.5ddf08"],"x":358.5277900695801,"y":200.95836925506592,"wires":[["b0947a8e.20e748"]]},{"id":"b03248b5.450558","type":"http response","z":"85c396b1.3a1848","name":"","statusCode":"","headers":{},"x":806.5139312744141,"y":201.46182823181152,"wires":[]},{"id":"b0947a8e.20e748","type":"change","z":"85c396b1.3a1848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Page not found","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":585.5139312744141,"y":203.43058013916016,"wires":[["b03248b5.450558"]]},{"id":"2d7e6b69.b56b14","type":"debug","z":"5b855cb5.cc7d84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960.5242576599121,"y":589.3611431121826,"wires":[]},{"id":"8f04e37f.98aaa","type":"http request","z":"66ffff34.4fa1d","name":"Save resource","method":"POST","ret":"txt","url":"","tls":"","x":516.5173530578613,"y":469.76408863067627,"wires":[["e07b34ca.510018","87f4fb15.eee498"]]},{"id":"87f4fb15.eee498","type":"http response","z":"66ffff34.4fa1d","name":"response","statusCode":"","headers":{},"x":881.5242385864258,"y":469.4689426422119,"wires":[]},{"id":"f2e90bd8.e6b8d8","type":"function","z":"66ffff34.4fa1d","name":"Look for subscriptions","func":"var subscriptions = flow.get('subscriptions')\nvar resource = msg.originalResource;    //added by a function node at the start of the flow\n\nnode.warn(msg.originalResource);\nif (msg.originalResource.resourceType == 'Encounter') {\n    //we're only interested in encounters\n    var ref = getPatientReference(msg.originalResource);\n    if (ref) {\n        subscriptions.forEach(function(sub){\n            if (ref == sub.patientId) {\n                msg.sub = sub;\n                node.warn('found sub')\n                node.send(msg)\n            }\n        })\n    }    \n}\n\n\n//note: do not return a msg - node.send() will emit messages\n\n\n//return a patient reference\nfunction getPatientReference(resource) {\n    var type = resource.resourceType;\n    \n    if (resource.subject) {\n        return resource.subject.reference;\n    }\n    \n    if (resource.patient) {\n        return resource.subject.reference;\n    }\n    \n    \n}","outputs":1,"noerr":0,"x":482.52088165283203,"y":571.9347991943359,"wires":[["70731591.25adcc"]]},{"id":"91813733.50d4c8","type":"function","z":"66ffff34.4fa1d","name":"set remote Url","func":"\n//extract the components of the URL (It's a POST)\n//message is in format /fhir/{resourcetype}\n//body will be in payload - we can leave that alone...\n\nmsg.originalResource = msg.payload; //JSON.parse(msg.payload);\n\nvar remoteFhirServer = global.get('remoteFhirServer')\nvar ar = msg.req.originalUrl.split('/');\nar.splice(0,2); //remove the '/fhir/'\nvar query = remoteFhirServer + ar.join('/')\nmsg.url = query;\nreturn msg;","outputs":1,"noerr":0,"x":313.5174674987793,"y":469.93768310546875,"wires":[["8f04e37f.98aaa"]]},{"id":"70731591.25adcc","type":"switch","z":"66ffff34.4fa1d","name":"","property":"sub.channel","propertyType":"msg","rules":[{"t":"eq","v":"rest-hook","vt":"str"},{"t":"eq","v":"email","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":658.5207748413086,"y":724.2472953796387,"wires":[["cbf39bc3.d13178"],["389d4b55.fc49d4"]]},{"id":"b763d7c4.d83138","type":"http in","z":"66ffff34.4fa1d","name":"","url":"/fhir/*","method":"post","upload":false,"swaggerDoc":"","x":104.5242691040039,"y":469.78477001190186,"wires":[["91813733.50d4c8"]]},{"id":"cbf39bc3.d13178","type":"function","z":"66ffff34.4fa1d","name":"Adding Url","func":"msg.url = msg.sub.endpoint;\nnode.warn('url '+msg.url )\nreturn msg;","outputs":1,"noerr":0,"x":879.5243110656738,"y":532.2015829086304,"wires":[["d219b48f.f90a08"]]},{"id":"389d4b55.fc49d4","type":"function","z":"66ffff34.4fa1d","name":"set email params","func":"msg.from = 'david.hay25@gmail.com'\nmsg.topic = 'Encounter email'\nmsg.payload = 'encounter email'\nmsg.to = 'healthcareinterop@gmail.com'\n\nnode.warn('sending email...')\n\nreturn msg;","outputs":1,"noerr":0,"x":850.5138778686523,"y":896.7641797065735,"wires":[[]]},{"id":"d219b48f.f90a08","type":"http request","z":"66ffff34.4fa1d","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1007.5173950195312,"y":618.7571630477905,"wires":[[]]},{"id":"bc8c35a6.c40b18","type":"e-mail","z":"66ffff34.4fa1d","server":"in-v3.mailjet.com","port":"25","secure":false,"name":"","dname":"send email","x":1020.5206642150879,"y":948.0209369659424,"wires":[]},{"id":"a96517e2.5277b8","type":"switch","z":"5b855cb5.cc7d84","name":"is this a subscription","property":"originalResource.resourceType","propertyType":"msg","rules":[{"t":"eq","v":"Subscription","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":199.01734161376953,"y":594.0000190734863,"wires":[["c2d7ee4e.b0d1f"]]},{"id":"c2d7ee4e.b0d1f","type":"function","z":"5b855cb5.cc7d84","name":"","func":"\nnode.warn(msg.headers)\n//\"http://snapp.clinfhir.com:8081/baseDstu3/Subscription/20823/_history/1\nvar location = msg.headers.location; \nvar ar = location.split('/');\nvar removed = ar.splice(ar.length -2);\nnode.warn(removed)\nvar id = ar[ar.length-1]\nnode.warn(id)\n\n\n\n\n\nmsg.url = ar.join('/');//  msg.headers.location;     //where the resource was stored\n\n//now update the resource.\nmsg.payload = msg.originalResource;\nmsg.payload.id = id;\nmsg.payload.status = 'active'\n\nnode.warn(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":441.5243797302246,"y":584.2951231002808,"wires":[["85ca9219.3063f"]]},{"id":"85ca9219.3063f","type":"http request","z":"5b855cb5.cc7d84","name":"","method":"PUT","ret":"txt","url":"","tls":"","x":691.5138168334961,"y":588.1215486526489,"wires":[["2d7e6b69.b56b14"]]},{"id":"eb4ee423.c4f358","type":"function","z":"66ffff34.4fa1d","name":"load subscriptions","func":"var remoteFhirServer = global.get('remoteFhirServer')\nmsg.url = remoteFhirServer + 'Subscription';\n\n\nreturn msg;","outputs":1,"noerr":0,"x":431.51395416259766,"y":99.39935207366943,"wires":[["c049ac90.69342"]]},{"id":"c049ac90.69342","type":"http request","z":"66ffff34.4fa1d","name":"","method":"GET","ret":"obj","url":"","tls":"","x":478.5208053588867,"y":165.0174503326416,"wires":[["68d400f9.f470a"]]},{"id":"68d400f9.f470a","type":"function","z":"66ffff34.4fa1d","name":"create encounter subscription object","func":"//copy the FHIR Subscriptions into a local object\n// {resourceType:'Encounter',criterion:,channel:,endpoint:}\n\nflow.set('subscriptions',[])\n\nif (msg.payload && msg.payload.entry) {\n    var subscriptions = []\n    msg.payload.entry.forEach(function(entry){\n        var sub = entry.resource;\n        //criteria in the form: Encounter?subject=Patient/{id} or Encounter?subject:Patient.identifier=wer4568\n        //todo = better query handling\n        var ar = sub.criteria.split('?')\n        if (ar[0] == 'Encounter') {\n            var q = ar[1]\n            var ar1 = q.split('=');\n            if (ar1.length == 2 && ar1[0]== 'subject') {    //matches Encounter?subject=Patient/{id}\n                 var mySub = {resourceType:'Encounter',patientId: ar1[1]};\n                 mySub.channel = sub.channel.type\n                 mySub.endpoint = sub.channel.endpoint\n                 subscriptions.push(mySub)\n            } else if (ar1.length == 2 && ar1[0] == 'subject:Patient.identifier') { //matches Encounter?subject:Patient.identifier=wer4568\n                 var mySub = {resourceType:'Encounter',patientIdentifier: ar1[1]};\n                 mySub.channel = sub.channel.type\n                 mySub.endpoint = sub.channel.endpoint\n                 subscriptions.push(mySub)\n            }\n           \n    \n        } \n  \n        \n    })\n    flow.set('subscriptions',subscriptions)\n}\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":757.5173034667969,"y":116.17712020874023,"wires":[["c31d8700.329b28"]]},{"id":"c31d8700.329b28","type":"debug","z":"66ffff34.4fa1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":865.5278244018555,"y":200.36115074157715,"wires":[]},{"id":"e07b34ca.510018","type":"switch","z":"66ffff34.4fa1d","name":"if successful","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"201","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":192.08016204833984,"y":573.4969749450684,"wires":[["f2e90bd8.e6b8d8"]]},{"id":"d4f4a2a4.149fa","type":"comment","z":"66ffff34.4fa1d","name":"email","info":"","x":838.5242156982422,"y":684.6008358001709,"wires":[]},{"id":"6ac0eebb.f31c9","type":"http in","z":"66ffff34.4fa1d","name":"HL7 input","url":"/hl7","method":"post","upload":false,"swaggerDoc":"","x":91.52429962158203,"y":740.4828109741211,"wires":[["f93b9f6.eb9226"]]},{"id":"41f1c02a.f430a","type":"http response","z":"66ffff34.4fa1d","name":"","statusCode":"","headers":{},"x":150.5173568725586,"y":1052.048921585083,"wires":[]},{"id":"6e0e3a8b.0ff4e4","type":"function","z":"66ffff34.4fa1d","name":"Look for subscriptions","func":"//process an admit message (ADT^A01). Look for patient identifiers in the subscription\n\nvar pid;\narSegments.forEach(function(seg){\n    if (seg.substr(0,3)== 'PID') {\n        pid = seg;\n    }\n})\n\nif (pid) {\n    //the patient id. Assume only 1 per message for the moment\n    var identifier = pid[3]\n    \n    var subscriptions = flow.get('subscriptions')\n    subscriptions.forEach(function(sub){\n    if (sub.patientIdentifier == ref) {\n        node.send(sub)\n        }\n    })\n    \n}\n\n//no explicit return of msg object","outputs":1,"noerr":0,"x":432.5278625488281,"y":925.8441476821899,"wires":[["70731591.25adcc"]]},{"id":"358499d8.bf3d46","type":"comment","z":"66ffff34.4fa1d","name":"HL7 ADT processing","info":"Must be a json object","x":113.01734161376953,"y":684.8993473052979,"wires":[]},{"id":"f93b9f6.eb9226","type":"function","z":"66ffff34.4fa1d","name":"set message type","func":"msg.hl7 = {};\nmsg.hl7.segments = msg.payload.split('\\n');  \nvar msh = arSegments[0];    //the message header\nmsg.hl7.messageType = msh[8];\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":197.51390838623047,"y":827.1806793212891,"wires":[["3ab882bf.59d69e"]]},{"id":"9adfc56a.2fecf8","type":"function","z":"5b855cb5.cc7d84","name":"Make Observation","func":"\nreturn msg;","outputs":1,"noerr":0,"x":580.0173034667969,"y":274.01039028167725,"wires":[["8450e13d.d8253"]]},{"id":"8450e13d.d8253","type":"http request","z":"5b855cb5.cc7d84","name":"Save Observation","method":"GET","ret":"txt","url":"","tls":"","x":672.0173950195312,"y":85.15959739685059,"wires":[["6124a6ff.f5f6e8"]]},{"id":"6124a6ff.f5f6e8","type":"http response","z":"5b855cb5.cc7d84","name":"","statusCode":"","headers":{},"x":885.0277671813965,"y":205.42001008987427,"wires":[]},{"id":"4afac3d1.10ac0c","type":"function","z":"5b855cb5.cc7d84","name":"set Url for patient search","func":"\nreturn msg;","outputs":1,"noerr":0,"x":293.5243225097656,"y":96.95487689971924,"wires":[["38de0d80.879a02"]]},{"id":"38de0d80.879a02","type":"http request","z":"5b855cb5.cc7d84","name":"Find Patient","method":"GET","ret":"txt","url":"","tls":"","x":275.51393127441406,"y":328.0069637298584,"wires":[["9adfc56a.2fecf8"]]},{"id":"6f7ac28e.47e46c","type":"catch","z":"5b855cb5.cc7d84","name":"","scope":null,"x":796.5277709960938,"y":354.9444980621338,"wires":[[]]},{"id":"3ab882bf.59d69e","type":"switch","z":"66ffff34.4fa1d","name":"","property":"hl7.messageType","propertyType":"msg","rules":[{"t":"eq","v":"ADT^A01","vt":"str"},{"t":"neq","v":"ADT^A01","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":172.5243263244629,"y":932.1668062210083,"wires":[["6e0e3a8b.0ff4e4"],["41f1c02a.f430a"]]}]